# Core functionality - changes here should be rare!
/src/app.py                   @manojhujband
/src/backend/database.py      @manojhujband
/src/backend/routers/auth.py  @manojhujband

# The frontend will need refactored soon to be more object oriented.
/src/static/   @manojhujband
